<head>
<title>bon anniv pimento</title>
<style>
html, body {
height: 100%;
background: url('https://1.bp.blogspot.com/-UenANiJzDI8/W_CzMJXoBHI/AAAAAAAAYqg/7vTdz5eBuSIDh6vwLUjNHTnFr9s6b2VoQCLcBGAs/s1600/lambada.gif') no-repeat center center fixed;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}


img {width: 100%;}

img {
 position: absolute;
 margin: 0;
 animation: example 10s linear infinite;
}

@keyframes example {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}

audio {
 align-self:end;  
}
</style>
</head>
<body>
<img src="https://s3.amazonaws.com/word-art/5e4554098eb33c71b482948c.png"/>
<audio src="https://ia802607.us.archive.org/16/items/Kaoma-lambada3/Lambada3.mp3" controls/>
</body>